
.tab{
-fx-background-color: #BF8C69;
-fx-padding: 6 12.5 6 13.7;
-fx-font-size: 12pt;
}

.tab-item{
-fx-background-color: #ECE5DD;
}

.tab:selected{
-fx-background-color:#D6BB9D;
}

.tab-item:hover{
-fx-background-color: #A27657;
}

.tab:focused{
-fx-focus-color: transparent;
}

.button{
-fx-background-color: #D6BB9D;
-fx-border-width:1;
-fx-border-color: #CDB397;
}

.button:hover{
-fx-background-color: #C69D70;
-fx-border-width:1;
-fx-border-color: #C69D70;
}

.button:selected{
-fx-background-color: #ECE5DD;
-fx-border-width:1;
-fx-border-color: #ECE5DD;
}

.table-view{
-fx-background-color: #ECE5DD;
}

.table-view:focused{
-fx-background-color: #ECE5DD;
}

.table-view .column-header{
-fx-background-color:#D6BB9D;
}

.table-row-cell:even{
-fx-background-color: #DFD6CB;
}
.table-row-cell:odd{
-fx-background-color: #ECE5DD;
}

.table-row-cell:selected{
-fx-background-color: #C69D70;
}